
#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Other Stuff
#############

# NPM modules - load per local client
/node_modules
.npm-debug.log

# Bower Components - load per local client
/app/bower_components

# we think this is grunt stuff but to be honest have no idea
.tmp


